html {
    height: 140%;
    font-family: "Roboto";
}

body {
    display: flex;
    flex-direction: column;
    height: 140%;
}

.header {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.information {
    background-color: white;
    flex: .9;
}

.quote {
    background-color: #EFE7EB;
    flex: .8;
}

.call {
    background-color: white;
    flex: .6;
}

.footer {
    background-color: #1F2937;
    flex: .3;
}

.tippy {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.tippy > h1 {
    font-size: 24px;
    color: white;
    margin: 0px;
}

.links {
    display: flex;
    gap: 10px;
    color: #E6E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #EFE7EB;
    margin-bottom: 10px;
}

.signup {
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    text-align: center;
    width: 125px;
    padding:  8px 8px;
    border: 0px;
    font-weight: bold;
    font-size: 16px;
}

img {
    height: 200px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    margin-top: 25px;
}

.four-boxes {
    display: flex;
    gap: 50px;
}

.boxset {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    color: grey;
    gap: 10px;
}

.box {
    border: 3px solid black;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border-color: #3882F6
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.message {
    width: 800px;
    height: 170px;
    font-size: 36px;
    font-style: italic;
    color: grey;
}

.author {
    text-align: right;
    font-weight: bold;
    font-size: 28px;
}


